.main-container{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 15px;
}

@media screen and (max-width: 500px) {
    .main-container{
        max-width: 19rem;
    }
  }

  .notes-list{
      margin: 25px;
  }

  app-note-card{

      display:block;
      margin-bottom: 25px;
  }
